openapi: "3.0.3"
info:
  title: Safe Travels' Endpoints
  version: "1.0.0"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

servers:
  - url: https://api.server.test/v1 # TODO: Replace with actual server url

paths:
  /auth/login:
    post:
      summary: Authenticate user to access the API
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, password]
              properties:
                username:
                  type: string
                  example: john-doe
                password:
                  type: string
                  format: password
                  example: MyPassword@123
      responses:
        "200":
          description: Login was successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  expires_in:
                    type: integer
                    example: 3600
        "401":
          description: Invalid credentials
        "429":
          description: Too many requests
        "500":
          description: Internal server error

  /auth/refresh:
    post:
      summary: Use refresh token to revalidate authentication
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken:
                  type: string
                  example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
      responses:
        "200":
          description: Session refreshed
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  expires_in:
                    type: integer
                    example: 3600
        "401":
          description: unauthorized
        "403":
          description: Forbidden. User logged out
        "410":
          description: Expired refresh token
        "429":
          description: Too many requests
        "500":
          description: Internal server error

  /auth/logout:
    post:
      summary: Revokes the user authentication
      security: [bearerAuth: []]
      responses:
        "204":
          description: Logout was successful
        "429":
          description: Too many requests
        "500":
          description: Internal server error

  /auth/register:
    post:
      summary: Register a new user
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, username, email, password]
              properties:
                name:
                  type: string
                  example: "John Doe"
                username:
                  type: string
                  example: john-doe
                email:
                  type: string
                  format: email
                  example: john.doe@example.com
                password:
                  type: string
                  format: password
                  example: MyPassword@123
      responses:
        "201":
          description: User registered
        "400":
          description: Invalid credentials
        "409":
          description: There is another user with these credentials
        "429":
          description: Too many requests
        "500":
          description: Internal server error

  /auth/forgot-password:
    post:
      summary: User requests code to change password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, email]
              properties:
                username:
                  type: string
                  example: john-doe
                email:
                  type: string
                  format: email
                  example: john.doe@example.com
      responses:
        "200":
          description: If there is an account with this username and e-mail, a code will be sent
        "400":
          description: Invalid credentials
        "429":
          description: Too many requests
        "500":
          description: Internal server error

  /auth/reset-password:
    post:
      summary: User sends it's reset code and new password to confirm password change
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, email, password, resetCode]
              properties:
                username:
                  type: string
                  example: john-doe
                email: # usar aqui???
                  type: string
                  format: email
                  example: john.doe@example.com
                password:
                  type: string
                  format: password
                  example: MyPassword@123
                resetCode:
                  type: string
                  example: "123456"
      responses:
        "200":
          description: Password reseted successfully
        "400":
          description: Invalid credentials
        "401":
          description: Invalid code
        "410":
          description: Expired code
        "429":
          description: Too many requests
        "500":
          description: Internal server error

  /auth/change-password:
    post:
      summary: Authenticated user changes it's password
      security: [bearerAuth: []]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [newPassword]
              properties:
                newPassword:
                  type: string
                  format: password
                  example: MyPassword@123
      responses:
        "200":
          description: Password changed successfully
        "400":
          description: Invalid password
        "401":
          description: User unauthorized
        "409":
          description: New password is the same as the old one
        "429":
          description: Too many requests
        "500":
          description: Internal server error

  /auth/verify-email:
    post:
      summary: User verifies it's e-mail confirming given code
      security: [bearerAuth: []]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email:
                  type: string
                  format: email
                  example: john.doe@example.com
                code:
                  type: string
                  example: "123456"
      responses:
        "200":
          description: E-mail verified
        "400":
          description: Invalid credentials
        "410":
          description: Expired code
        "429":
          description: Too many requests
        "500":
          description: Internal server error

  /auth/verify-phone:
    post:
      summary: User verifies it's phone confirming given code
      security: [bearerAuth: []]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, code]
              properties:
                phone:
                  type: string
                  pattern: '^\+[1-9]\d{1,14}$'
                  example: "+5551987654321"
                code:
                  type: string
                  example: "123456"
      responses:
        "200":
          description: Phone verified
        "400":
          description: Invalid credentials
        "410":
          description: Expired code
        "429":
          description: Too many requests
        "500":
          description: Internal server error

  /auth/register-device:
    post:
      summary: Register a new location device to a user
      security: [bearerAuth: []]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - value
              properties:
                type:
                  type: string
                  enum: [email, phone]
                  example: email
                value:
                  type: string
                  description: E-mail or phone in internacional pattern (E.164)
                  example: "+55 51 99999-9999"
      responses:
        "201":
          description: Device successfully registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    example: "c21f969b-5f03-4333-9a9d-6a5566e8a5e7"
                  type:
                    type: string
                  value:
                    type: string
        "400":
          description: Invalid data
        "409":
          description: Device already registered
        "429":
          description: Too many requests
        "500":
          description: Internal server error

  /user/get-profile/{user_id}:
    get:
      summary: Get a user's profile information
      security: [bearerAuth: []]
      parameters:
        - name: user_id
          in: path
          required: true
          description: UUID of the user
          schema:
            type: string
            format: uuid
            example: "c21f969b-5f03-4333-9a9d-6a5566e8a5e7"
      responses:
        "200":
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  user_id:
                    type: string
                    format: uuid
                    example: "c21f969b-5f03-4333-9a9d-6a5566e8a5e7"
                  username:
                    type: string
                    example: john-doe
                  name:
                    type: string
                    example: "John Doe"
                  profile_image:
                    type: string
                    format: uri
                    example: "https://example.com/uploads/profile-picture.png"
        "400":
          description: Invalid id
        "401":
          description: unauthorized
        "403":
          description: Forbidden. User can't fetch this information
        "404":
          description: User not found.
        "429":
          description: Too many requests
        "500":
          description: Internal server error

  /user/set-privacy:
    post:
      summary: Defines privacy settings
      security: [bearerAuth: []]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: privacy settings updated successfully
        "400":
          description: Invalid privacy settings
        "401":
          description: unauthorized
        "429":
          description: Too many requests
        "500":
          description: Internal server error

  /user/ask-to-follow/{user_id}:
    get:
      summary: Ask to follow another user
      security: [bearerAuth: []]
      parameters:
        - name: user_id
          in: path
          required: true
          description: UUID of the user
          schema:
            type: string
            format: uuid
            example: "c21f969b-5f03-4333-9a9d-6a5566e8a5e7"
      responses:
        "200":
          description: Successful operation
        "400":
          description: Invalid id
        "401":
          description: unauthorized
        "404":
          description: User not found.
        "429":
          description: Too many requests
        "500":
          description: Internal server error

  /user/accept-follow/{user_id}:
    get:
      summary: Accept another user's request to follow
      security: [bearerAuth: []]
      parameters:
        - name: user_id
          in: path
          required: true
          description: UUID of the user
          schema:
            type: string
            format: uuid
            example: "c21f969b-5f03-4333-9a9d-6a5566e8a5e7"
      responses:
        "200":
          description: Successful operation
        "400":
          description: Invalid id
        "401":
          description: unauthorized
        "404":
          description: User or request not found.
        "429":
          description: Too many requests
        "500":
          description: Internal server error

  /user/change-follower-tier:
    post:

  /user/remove-follower/{user_id}:
  /user/stop_following/{user_id}:
  /user/get-location/{user_id}:
  /user/send-location:

  /group/create:
  /group/invite:
  /group/respond-invite:
  /group/remove-member/{user_id}:
  /group/leave/{group_id}:
  /group/set-group-privacy: # privacidade do grupo quanto a usuarios externos
  /group/set-user-privacy: # privacidade do membro quanto ao grupo
  /group/ask-to-follow/{group_id}:
  /group/accept-follower/{user_id}:
  /group/remove-follower/{user_id}:
  /group/stop_following/{group_id}:
  /group/get-location/{group_id}:

  /trip/get-trip-sumary/{trip_id}:
  /trip/get-trip-details/{trip_id}:
  /trip/list-trips/user/{user_id}:
  /trip/list-trips/group/{group_id}:
  /trip/get-user-current-trip/{user_id}:
  /trip/get-group-current-trip/{group_id}:
